<%= button_to "New Patient", new_patient_path, class: "btn btn-primary", method: :get %>
</br>
<div class="table-responsive">
<table class="table table-hover table-condensed">
  <thead>
    <th>Patient ID</th>
    <th>Full Name</th>
  </thead>

<% @patients.each do |patient| %>
<tr>
  <td>
    #<%= patient.id %>
  </td>
  <td>
    <%= link_to "#{patient.first_name} #{patient.last_name}", patient_path(patient) %>
  </td>
</tr>
<% end %>

</table>
</div>
