<ul>
<% @patients.each do |patient| %>
  <li>
    <%= link_to "#{patient.first_name} #{patient.last_name}", patient_path(patient) %>
  </li>
<% end %>
</ul>

<%= button_to "New Patient", new_patient_path, method: :get %>
